ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.nav-menu-responsive,
.nav-hamburger-menu {
    display: none;
}

/* Hero Start */
.hero {
    width: 100%;
    height: 91vh;
    background-color: #ffffff;
    background-image: url(../assets/bg-cover.png);
    background-size: cover;
    background-position: center;
}

.hero h3 {
    position: relative;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: -1px 2px 3.7799999713897705px #ae7b41;
    color: var(--secondary);
    -webkit-text-stroke: 0.6px #ae7b41;
    letter-spacing: 0.1rem;
}
.logo-ospek-2024 {
    display: flex;
    padding-top: 3rem;
}

.logo-ospek-2024 img {
    width: 35vh;
    margin: 0 auto;
}

.btn-seemore {
    position: absolute;
    padding-top: 380px;
}

.btn-seemore button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin-left: 7em;
    cursor: pointer;
    background: none;
    border: 2px var(--secondary) solid;
    color: var(--secondary);
}

.btn-seemore a {
    color: #252525;
}

button:active {
    transform: scale(1.1);
    transition: ease-in-out 1;
}
button:hover {
    color: var(--primary);
    background-color: var(--secondary);
    transition: ease-in-out 0.3s;
}
/* Hero End */

/* About Start */
.bg-corak {
    background-image: url(../assets/ospek-pehh.png);
}
.about-container {
    position: relative;
}
/* About End */

/* FILOSOPI */

.swiper {
    position: relative;
    width: 85%;
    height: 550px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 430px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
/* Styling for Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
}

/* Container for Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    background-color: #432818;
    padding: 30px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 575.98px) {
    .responsive-p {
        margin: 0 1.5rem !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .about-desc {
        margin-left: 0 !important ;
        margin-right: 0 !important ;
        padding-left: 0 !important ;
        padding-right: 0 !important ;
    }
    .about-image {
        width: 95vw !important;
    }
    .mySwiper {
        height: 700px;
    }
    .filosopi-text {
        max-width: 89vw !important;
    }
    .filosopi-text h2 {
        font-size: 2rem !important;
    }
    .logo img {
        height: 44px !important;
        padding-left: 1rem !important;
    }
    .navbar {
        justify-content: left !important;
    }
    .nav-menu {
        display: none !important;
    }
    .nav-menu-responsive {
        display: block;
        width: 100%;
    }
    #hamburger-menu {
        color: var(--secondary);
        font-size: 2rem;
        position: absolute;
        right: 20px;
        cursor: pointer;
    }
    #hamburger-menu:hover {
        color: white;
    }
    .nav-hamburger {
        position: absolute;
        top: -9%;
        right: -100%;
        background-color: #ffe6a7f1;
        width: 43vw;
        height: 100vh;
        transition: 1s;
        z-index: 999;
        display: none;
    }
    .nav-hamburger.active {
        right: 0;
        display: block;
    }
    .nav-hamburger-menu {
        display: block;
        padding-left: 1rem;
        padding-bottom: 1rem;
        position: absolute;
        bottom: 0;
        display: grid;
        gap: 1.5rem;
    }
    .nav-hamburger-menu a {
        font-family: Poppins, sans-serif;
        font-weight: 500;
        color: var(--primary);
    }
}
