ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Jadwal Start */
.jadwal {
    position: relative;
    max-width: 100%;
    height: auto;
    padding-bottom: 8rem;
    /* background: linear-gradient(to bottom, #ffda89, #fff6c3); */
    background-color: var(--primary);
    color: var(--secondary);
}

.jadwal .jdl-timeline {
    padding-top: 8rem;
    text-align: center;
}

.jadwal .jdl-timeline h3 {
    font-size: 1.8em;
}
.jadwal .jdl-timeline p {
    font-size: 1.4em;
    padding: 0 10px;
}

.timeline-agenda {
    max-width: 830px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 70px 0 30px 0;
}
.timeline-agenda::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: var(--secondary);
    height: calc(100% - 40px);
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.timeline-content {
    /* margin: 20px 0; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    position: relative;
    width: 380px;
    height: auto;
    border: 1px var(--secondary) solid;
    box-shadow: 0 2px 8px 0 #e9e9e9;
    cursor: default !important;
    transition: all 0.3s;
}

/* .timeline-content::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #850001;
  top: 50%;
  transform: translateX(-50%) rotate(45deg);
} */
.timeline-content::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--secondary);
    border-radius: 50%;
    transform: translateY(-50%);
}

.timeline-content:nth-child(odd) {
    margin-left: auto;
}
.timeline-content:nth-child(odd):hover {
    transform: scale(1.01);
    transition: all 0.3s;
}

.timeline-content:nth-child(odd) .tag {
    right: 18px;
}
/* .timeline-content:nth-child(odd)::after {
  left: -10px; 
} */
.timeline-content:nth-child(odd)::before {
    top: 50%;
    left: -45px;
}

.timeline-content:nth-child(even) {
    align-items: flex-end;
}
.timeline-content:nth-child(even) .desc {
    text-align: right;
}
.timeline-content:nth-child(even)::before {
    top: 50%;
    right: -45px;
}
.timeline-content:nth-child(even) .tag {
    left: 18px;
}
.timeline-content:nth-child(even):hover {
    transform: scale(1.01);
    transition: all 0.3s;
}

.tag {
    position: absolute;
    top: 20px;
    font-weight: 400;
    font-size: 10px;
}

.tag-selesai {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 6px 10px;
    border-radius: 7px;
}
.tag-progress {
    background-color: rgb(105, 215, 72);
    color: #f9f9f9;
    padding: 6px 10px;
    border-radius: 7px;
}
.tag-soon {
    background-color: #385ca3;
    color: #f9f9f9;
    padding: 6px 10px;
    border-radius: 7px;
}

.date {
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 13px;
    color: #090909;
}
.date-m {
    font-size: 15px;
}
.date-h {
    color: var(--primary);
}
.time {
    color: #151414;
    font-size: 15px;
}

.desc {
    font-size: 18px;
    color: #090909;
    margin-top: 10px;
    /* padding: 0 10px; */
}
/* Jadwal End */
